@using BlazorBootstrap
@using Web.Extensions
@inherits GroupViewBase

@if (IsViewLoading)
{
    <div class="text-center">
        <div class="spinner-border m-5"></div>
    </div>
    return;
}

<h3>Gruppen:</h3>

@foreach (var group in Groups)
{
    <MudDataGrid Items="group.MemberIds" Dense Class="mb-5">
        <ToolBarContent>
            <MudText Typo="Typo.h5">@group.Name</MudText>
            <MudSpacer />
            <MudButtonGroup Variant="Variant.Outlined">
                <MudIconButton Icon="@Icons.Material.Outlined.Edit" OnClick="() => EditOrCreateGroup(group)" />
                <MudIconButton Icon="@Icons.Material.Outlined.Person" OnClick="() => EditGroupMembers(group)" />
            </MudButtonGroup>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="memberId => GetMemberNameById(memberId)" Sortable="true" Title="Name">

            </PropertyColumn>
        </Columns>
        <NoRecordsContent>
            Keine Mitglieder in der Gruppe
        </NoRecordsContent>
    </MudDataGrid>
}

<br />
<button class="btn btn-primary" @onclick="() => EditOrCreateGroup(null)">Gruppe hinzufügen</button>
