@using BlazorBootstrap
@using Web.Extensions
@inherits GroupViewBase

@if (IsViewLoading)
{
    <div class="text-center">
        <div class="spinner-border m-5"></div>
    </div>
    return;
}

<h3>Gruppen:</h3>

@foreach (var (group, groupMembers) in GroupMembersDict)
{
    var header = group.Name + (groupMembers.Any() ? "" : " - Ohne Mitglied");

    <table class="table">
        <thead>
            <tr @onmouseenter="() => HoveredId = group.Id" @onmouseleave="() => HoveredId = null">                
                <th scope="col">@header</th>
                <th>
                    <button style="visibility:  @(HoveredId == group.Id ? "visible" : "hidden")"
                            type="button" @onclick="() => EditOrCreateGroup(group)"
                            class="btn btn-outline-dark">
                        <i class="bi bi-pencil"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in groupMembers)
            {
                <tr>
                    <td>
                        @member.Name
                    </td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

<br />
<button class="btn btn-primary" @onclick="() => EditOrCreateGroup(null)">Gruppe hinzufügen</button>
