@using BlazorBootstrap
@using Web.Extensions
@inherits GroupViewBase

@if (IsViewLoading)
{
    <div class="text-center">
        <div class="spinner-border m-5"></div>
    </div>
    return;
}

<h3>Gruppen:</h3>

@foreach (var group in Groups)
{
    var header = group.Name + (group.MemberIds.Any() ? "" : " - Ohne Mitglieder");
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr @onmouseenter="() => HoveredId = group.Id" @onmouseleave="() => HoveredId = null">                
                    <th scope="col">@header</th>
                    <th>
                        <button style="visibility: @(HoveredId == group.Id ? "visible" : "hidden")"
                                type="button" @onclick="() => EditOrCreateGroup(group)"
                                class="btn btn-outline-dark">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <Button hidden="@(HoveredId != group.Id)" @onclick="() => EditGroupMembers(group)" Color="ButtonColor.Dark" Outline="true"><Icon Name="IconName.Plus"/></Button>                        
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var memberId in group.MemberIds)
                {
                    <tr>
                        <td>
                            @GetMemberNameById(memberId)
                        </td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<br />
<button class="btn btn-primary" @onclick="() => EditOrCreateGroup(null)">Gruppe hinzufügen</button>
