@inherits LockingHelperPromptBase

Der Sperrzeitpunkt für diese Rolle ist bereits erreicht. Falls der Bedarf besteht, wirst du zeitnah fest eingetragen.

<hr />
<div class="float-end">
    <button class="btn btn-secondary" type="button" @onclick="CloseModalFunc">Abbrechen</button>
    <button class="btn btn-primary" type="button" @onclick="ConfirmModal">Bestätigen</button>
</div>