@using Web.Views.Dropdown
@inherits ChangeMemberBase

<h2>@Member.Name</h2>

@if(IsMemberLoading)
{
    <div class="text-center">
        <div class="spinner-border m-5"></div>
    </div>
}
else
{    
    <EditForm EditContext="@EditContext" OnValidSubmit="SaveMember">
        <div class="form-check">
            <InputCheckbox class="form-check-input" @bind-Value="MemberData.IsAdmin" id="flexCheckDefault"/>
            <label class="form-check-label" for="flexCheckDefault">
                Administrator
            </label>
        </div>
    </EditForm>
}


<hr />
@if(IsMemberDeleting)
{
    <button class="btn btn-danger">
        <span class="spinner-border spinner-border-sm"></span>
        <span>Nutzer entfernen</span>
    </button>
}
else
{
    <button class="btn btn-danger" @onclick="DeleteMember">Nutzer entfernen</button>
}
<div class="float-end">
    @if(IsMemberSaving)
    {
        <button class="btn btn-primary">
            <span class="spinner-border spinner-border-sm"></span>
            <span>Nutzer speichern</span>
        </button>
    }
    else
    {
        <button class="btn btn-primary" @onclick="SaveMember">Nutzer speichern</button>
    }
</div>