@inherits ChangeEventCategoryBase
@using Web.Extensions

<EditForm EditContext="EditContext" OnValidSubmit="SaveEventCategory">
    <label class="form-label">Name</label>
    <InputText @bind-Value="EventCategoryData.Name" class="form-control mb-3"/>  


    <hr />
    @if (IsUpdate)
    {
        @if(IsEventCategoryDeleting)
        {
            <button class="btn btn-danger" type="button">
                <span class="spinner-border spinner-border-sm"></span>
                <span>Löscht</span>
            </button>
        }
        else
        {
            <button class="btn btn-danger" type="button" @onclick="DeleteEventCategory">Löschen</button>
        }
    }
    <div class="float-end">
        @if(IsEventCategorySaving)
        {
            <button class="btn btn-primary">
                <span class="spinner-border spinner-border-sm"></span>
                <span>Speichert</span>
            </button>
        }
        else
        {
                <button class="btn btn-primary" type="submit">Speichern</button>
        }
    </div>

</EditForm>