@inherits ChangeRoleBase
@using Web.Extensions
@using Web.Views.MemberSelection

@if (IsRoleLoading)
{
    <div class="text-center">
        <div class="spinner-border m-5"></div>
    </div>
}
else
{    
    <EditForm EditContext="EditContext" OnValidSubmit="SaveRole">
        <div>
            <label class="form-label" for="name">
                Name: 
                <InputText id="name" @bind-Value="RoleData.Name" class="form-control mb-3" />
            </label>
        </div>

        <div>
            <label class="form-label">
                Sperrzeitraum: 
                <InputNumber class="form-control" @bind-Value="@RoleData.LockingPeriod" />
            </label>
        </div>

        <MemberSelection SelectedMembers="SelectedMembers" Members="Members" />

        <hr />
        @if (IsUpdate)
        {
            @if(IsRoleDeleting)
            {
                <button class="btn btn-danger" type="button">
                    <span class="spinner-border spinner-border-sm"></span>
                    <span>Löschen</span>
                </button>
            }
            else
            {
                <button class="btn btn-danger" type="button" @onclick="DeleteRole">Löschen</button>
            }
        }
        <div class="float-end">
            @if(IsRoleSaving)
            {
                <button class="btn btn-primary" type="button">
                    <span class="spinner-border spinner-border-sm"></span>
                    <span>Speichern</span>
                </button>
            }
            else
            {
                <button class="btn btn-primary" type="submit">Speichern</button>
            }
        </div>
    </EditForm>
}