@inherits ResetPasswordBase


<EditForm EditContext="@EditContext" OnValidSubmit="ResetPassword">
    <label class="form-label">E-Mail-Adresse</label>
    <InputText @bind-Value="ResetData.Email" class="form-control mb-3" />
</EditForm>

<hr />
<div class="float-end">
    <button class="btn btn-primary" @onclick="ResetPassword">Passwort zurücksetzen</button>
</div>