@page "/{departmentUrl}/membership"
@using Web.Checks
@inherits DepartmentPageBase;

<div class="modal" tabindex="-1" id="enterDepartmentModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Beitrittsanfrage</h3>
            </div>
            <div class="modal-body">
                @if (AlreadyRequested)
                {
                    <p>Du hast bereits eine Anfrage für diese Abteilung abgesendet. Bitte warte bis deine Beitrittsanfrage bearbeitet wurde.</p>
                }
                else
                {
                    <p>Du bist nicht Teil dieser Abteilung. Möchtest du eine Beitrittsanfrage für "@(Department?.Name)" absenden?</p>
                }                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" @onclick="CloseModal">Abbrechen</button>
                @if (!AlreadyRequested)
                {
                    <button type="button" class="btn btn-primary" @onclick="SubmitRequest">Anfrage senden</button>
                }                
            </div>
        </div>
    </div>
</div>

<script>
    var element = document.getElementById("enterDepartmentModal");
    var modal = new bootstrap.Modal(element);
    window.openModal = () => {
        modal.show();
    }  
    window.closeModal = () => {
        modal.hide();
    }
</script>

