@inherits MainLayoutBase
@layout GlobalLayout

<div class="page">           
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>        
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>   
                    <span class="me-3">Hallo @(context.User.Identity?.Name)!</span>
                    <button class="btn btn-primary" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-primary" @onclick="NavigateToLogin">Login</button>
                </NotAuthorized>
            </AuthorizeView>            
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
