@inherits MainLayoutBase
<div class="page">           
    <div class="sidebar">
        <NavMenu />
    </div>


    <BlazorBootstrap.Modal @ref="Modal" />

    <main>        
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>   
                    <span class="me-3">Hallo @(context.User.Identity?.Name)!</span>
                    <button class="btn btn-primary" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-primary" @onclick="NavigateToLogin">Login</button>
                </NotAuthorized>
            </AuthorizeView>            
        </div>

        <CascadingValue Value="@Modal">
            <article class="content px-4">
                <ErrorBoundary>
                    <ChildContent>
                        @Body
                    </ChildContent>
                    <ErrorContent>
                        <Web.Views.ErrorContent.ErrorMessage/>
                    </ErrorContent>
                </ErrorBoundary>
            </article>
        </CascadingValue>
    </main>
</div>

@code{
    public BlazorBootstrap.Modal Modal { get; set; }
}
