@inherits MainLayoutBase
<div class="page">           
    <div class="sidebar">
        <NavMenu />
    </div>


    <BlazorBootstrap.Modal @ref="Modal" />

    <main>        
        <div class="top-row px-4">  
            <AuthorizeView Roles="InDepartment" Context=differentContext>
                <button class="btn btn-primary mx-2" @onclick="NavigateToDepartment">Abteilung</button>
            </AuthorizeView>
            <AuthorizeView>
                <Authorized>                    
                    <button class="btn btn-primary" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <button class="btn btn-primary" @onclick="NavigateToLogin">Login</button>
                </NotAuthorized>
            </AuthorizeView>            
        </div>

        <CascadingValue Value="@Modal">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code{
    public BlazorBootstrap.Modal Modal { get; set; }
}
