@inherits ChangeQualificationBase
@using Web.Extensions
@using Web.Views.MemberSelection

  
<label class="form-label">Name</label>
<InputText @bind-Value="QualificationData.Name" data-testid="group-name" class="form-control mb-3" />

<hr />
@if (IsUpdate)
{
    @if(IsQualificationDeleting)
    {
        <button class="btn btn-danger" type="button">
            <span class="spinner-border spinner-border-sm"></span>
            <span>Speichern</span>
        </button>
    }
    else
    {
        <button class="btn btn-danger" type="button" @onclick="DeleteGroup">Löschen</button>
    }
}
<div class="float-end">
    @if(IsQualificationSaving)
    {
        <button class="btn btn-primary" type="button">
            <span class="spinner-border spinner-border-sm"></span>
            <span>Speichern</span>
        </button>
    }
    else
    {
        <button class="btn btn-primary" @onclick="SaveGroup">Speichern</button>
    }
</div>