@inherits VerificationModalBase

Die E-Mail-Adresse deines Benutzerkontos wurde noch nicht bestätigt.

<hr />
<div class="float-end">
    <button class="btn btn-primary" @onclick="SendVerificationMail">E-Mail anfordern</button>
</div>