@inherits MemberSelectionModalBase

<MemberSelection Members="@Members" SelectedMembers="SelectedMembers" />

<hr />
<div class="float-end">
    <button class="btn btn-secondary" type="button" @onclick="CloseModalFunc">Abbrechen</button>
    <button class="btn btn-primary" type="button" @onclick="ConfirmModal">Bestätigen</button>
</div>