@using Web.Pages

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <Authorizing>
                    <div class="text-center">
                        <BlazorBootstrap.Spinner Class="m-5"/>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <p role="alert">Du befindest dich auf der Startseite des Einsatzplaners. Wechsel auf die Übersicht deiner Abteilung, um alle Events zu sehen.</p>
        </NotFound>
    </Router>
</CascadingAuthenticationState>